@font-face {
  font-family: 'Comic Neue Bold';
  src: local('Comic Neue Bold'), url(./assets/ComicNeue-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue'), url(./assets/ComicNeue-Regular.ttf) format('truetype');
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: lightpink;
  background-image: url("./assets/owochat-wallpaper.jpg");
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Neue Bold", monospace;
  color: rgb(180, 81, 117);
}

a:hover {
  color: pink;
}


.textInput:empty:before {
  content: attr(placeholder);
  font-weight: initial;
  color: rgba(180, 81, 117, 0.5);
}
.textInput::-webkit-scrollbar {
  width: 0px;
}
.textInput:focus{
  outline: none;
}

.aboutData {
  box-sizing: content-box;
  font-family: "Comic Neue", monospace;
  overflow: hidden;
  white-space: nowrap;
  width: 7rem;
  max-width: 7rem;
}
.aboutData br {
  display: none;
}
.aboutData:focus {
  outline: none;
}

.chatHistory::-webkit-scrollbar {
  width: 7px;
}
/* Track */
/* .cleanScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
/* Handle */
.chatHistory::-webkit-scrollbar-thumb {
  background: lightpink;  
  border-radius: 5px;
}
/* Handle on hover */
.chatHistory::-webkit-scrollbar-thumb:hover {
  background: rgb(205, 169, 175); 
}



.msgContent, .credits, .textInput  {
  font-family: "Comic Neue", monospace;
}
.msgContent {
  text-align: left;
}


.owoSlider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 96%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

/* style for webkit */
.owoSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  border: 3px solid rgba(180, 81, 117);
  height: 16px;
  width: 16px;
  border-radius: 16px;
  /* background: rgb(255, 212, 219); */
  background-color: white;
  cursor: pointer;

  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  margin-top: -3px;
}
.owoSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 225, 225), rgb(255, 168, 181) );
  border-radius: 5px;
}

/* style for firefox */
.owoSlider::-moz-range-thumb {
  border: 3px solid lightpink;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  /* background: rgb(255, 212, 219); */
  background-color: white;
  cursor: pointer;
}
.owoSlider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 225, 225), rgb(255, 168, 181) );
  border-radius: 5px;
}

/* style for internet explorer/edge? */
.owoSlider::-ms-thumb {
  border: 3px solid lightpink;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  /* background: rgb(255, 212, 219); */
  background-color: white;
  cursor: pointer;
}
.owoSlider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 225, 225), rgb(255, 168, 181) );
  border-radius: 5px;
}